* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #13aa98;
}

.wrapper {
    white-space: nowrap;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    line-height: 46px;
    color:#FFF;
    background: rgba(238, 238, 238, 0.8);
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:hover {
    background: rgba(238, 238, 238, 1);
}

.wrapper i:first-child {
    left: 23px;
}

.wrapper i:last-child {
    right: -23px;
}

.wrapper .carousel {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap; 
    cursor: pointer;
    overflow: hidden;
    /* height: 500px; */
    scroll-behavior: smooth;
}

.wrapper .carousel .carousel-item {
    flex: 0 0 auto;
    /* margin-right: 14px; */
    overflow: hidden;
}

.wrapper .carousel .carousel-item img {
    height: 240px;
    width: 240px;
}

